/* common  */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.btn-common {
  background-color: #e55473;
  color: #fff;
  padding: 20px 43px;
  border-radius: 10px;
  border: none;
}

/* Banner section */
.banner-container {
  background-color: rgba(229, 84, 115, 0.1);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-section-text {
  width: 30%;
  text-align: ;
}
.banner-title {
  font-size: 40px;
  color: #272727;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.banner-section-flower-img {
  background-image: url("../images/pngwing10.png");
  background-size: contain;
  width: 40%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 80px;
}
.banner-flower-size {
  width: 300px;
  background-size: cover;
  background-position: bottom right;
}
